@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prosto+One&family=Yanone+Kaffeesatz:wght@500&display=swap');

$fuenteUno: 'Yanone Kaffeesatz', sans-serif ;
$fuenteDos: 'Prosto One', cursive;
$fuenteTres: 'Kanit', sans-serif;